@charset "UTF-8";
@import url("reset.css");
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  font-family: "微软雅黑"; }

html {
  font-size: 625%; }

a,
img {
  -webkit-tap-highlight-color: transparent; }

input:focus {
  outline: none; }

html,
body,
.container {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  font-size: 16px;
  background: #DCDCDC; }

.container {
  padding-top: .48rem; }

.header {
  width: 100%;
  height: .48rem;
  background: #fff;
  position: absolute;
  top: 0;
  border-bottom: 1px solid #ccc; }
  .header a {
    position: absolute; }
    .header a:first-child {
      top: 6px;
      left: 5px;
      width: 36px;
      height: 36px;
      background: url(../img/back.png) no-repeat;
      background-size: cover;
      font-size: 0; }
    .header a:last-child {
      top: 6px;
      right: 5px;
      width: 46px;
      height: 46px;
      background: url(../img/icon_nav_v2.png) no-repeat;
      background-position: -275px -50px;
      font-size: 0; }
  .header h1 {
    text-align: center;
    line-height: .48rem;
    font-size: 18px; }

.xz {
  width: 100%;
  height: 1.5rem;
  background: #f1f1f1;
  position: absolute;
  top: -1.5rem;
  z-index: 99;
  overflow: hidden;
  -webkit-transition: .5s; }
  .xz ul {
    width: 100%;
    height: auto; }
    .xz ul li {
      width: 100%;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-bottom: 1px solid #ccc;
      font-size: 14px; }
      .xz ul li:last-child {
        border: none; }

.main {
  width: 100%;
  height: 100%;
  position: relative; }

.ship {
  width: 100%;
  height: auto;
  background: #fff;
  display: -webkit-flex; }
  .ship:last-child dl {
    border: none; }
  .ship dl {
    width: 45%;
    height: auto;
    margin: 0 5%;
    border-bottom: 1px solid #ccc; }
  .ship dt {
    width: 100%;
    height: auto; }
  .ship img {
    width: 100%;
    height: auto; }
  .ship dd {
    width: 100%;
    font-size: 14px;
    color: red;
    padding: 0.05rem;
    line-height: .2rem; }
  .ship small {
    display: block;
    color: #ccc; }
